<h2>Involvements</h2>
<ul>
  <li>
    <strong>Sponsorship Lead – Hackathon Revolution UC by ACM&#64;UC [University of Cincinnati]</strong> | Aug 2022–April 2024
    <ul>
      <li>Raised $25,000+ for UC’s Biggest Student-Led Hackathon Revolution UC with 300+ students from Midwest Universities.</li>
      <li>Increased hackathon scale by 20% each year through securing sponsorships and engaging companies.</li>
    </ul>
  </li>
  <li>
    <strong>Student Ambassador - UC International Admissions [University of Cincinnati]</strong> | May 2022–April 2024
    <ul>
      <li>Counseled 2000+ students, demonstrating commitment to student success.</li>
      <li>Promoted University of Cincinnati programs globally as an International Admissions Office representative.</li>
    </ul>
  </li>
  <li>
    <strong>Vice President of Events – College of Engineering and Applied Sciences Tribunal [University of Cincinnati]</strong> | Aug 2020–April 2024
    <ul>
      <li>Increased student engagement by 15% annually by strategizing and executing college-wide events for 7000 engineering students.</li>
    </ul>
  </li>
</ul>
